{{template "partials/top" .}}

<div class="container pb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5" style="background-color: #b4befe">
        <div class="card-body">
          <div id="chat-window">
            {{ $userId := .userId}}
            {{ range .history }}
            <div
              class="fs-5 font-weight-bold mb-3 card {{if ne .UserID $userId }}bg-dark text-light{{else}}text-end bg-secondary text-light{{end}}">
              {{.Content}}
            </div>
            {{end}}
          </div>
        </div>
      </div>
      <div class="container sticky-bottom pb-4">
        <div class="input-group row g-1 p-2">
          <textarea id="chat-input" class="form-control" placeholder="Tell StudyBot what you need help with." rows="2"
            autofocus></textarea>
          <div class="d-grid gap-2">
            <button id="send-button" type="button" class="btn btn-primary" disabled>
              Send
            </button>
            <button id="clear-button" type="button" class="btn text-light" style="background-color: #d20f39">
              Clear history
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/chat.js">
</script>

{{template "partials/bottom" .}}